{% load i18n %}{% load static %}
<!doctype html>
<html dir="{% if request.LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}" lang="{{ request.LANGUAGE_CODE }}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% trans "Quality Perfection certificates" %}</title>
  <script src="{% static 'assets/main-BI6zJ0SQ.js' %}"></script>
  <link rel="stylesheet" href="{% static 'assets/style-CQRcHHq-.css' %}">
</head>

<body>
  <!-- ================== START LOADER ================== -->
  <div id="loader" class="fixed inset-0 bg-surface-white flex items-center justify-center z-2000">
    <div class="w-16 h-16 border-4 border-crimson-red border-t-transparent rounded-full spinner"></div>
  </div>
  <!-- ================== END LOADER ================== -->
  <!-- ================== START SCROLL TO TOP BUTTON ================== -->
  <button id="scrollTopBtn"
    class="fixed bottom-6 z-50 w-12 h-12 text-[27px] rounded-full bg-gradient-red-to-blue -right-20 text-surface-white flex items-center justify-center shadow-lg cursor-pointer transition-all duration-300 ease-in-out "
    aria-label="Scroll to top">
    <img src="{% static 'icons/arrow.svg' %}" alt="arrow button" class="-rotate-90">
  </button>
  <!-- ================= END SCROLL TO TOP BUTTON =================== -->

  <div class="flex-height-screen">
    <!-- ================== START NAVBAR ======================== -->
    <nav class="fixed top-0 w-full z-50 navbar-menu transition-colors duration-300 pt-4! md:pt-8!" dir="ltr">
      <div class="container-media">
        <div class="flex items-center justify-between py-4! md:py-1!">
          <!-- Logo Section -->
          <a href="{% url 'index' %}" class="flex items-center gap-2 text-white font-bold ms-auto" data-aos="fade-right">
            <img src="{% static 'images/logo.svg' %}" alt="Quality Perfection Logo" class="w-30 md:w-47.75 md:h-[73.4px]" />
          </a>

          <!-- Burger -->
          <div class="all-mobile-menu items-center gap-5 max-[1169px]:flex hidden" data-aos="fade-left">
            <!-- ================ START PHONE NUMBER ================= -->
            <a href="tel:+{{ configurations.phone_number }}" class="relative w-10 h-10 block">
              <span class="ripple absolute inset-0"></span>

              <div class="absolute inset-0 bg-crimson-red rounded-full flex items-center justify-center z-10">
                <img src="{% static 'icons/phone.svg' %}" alt="Call" class="w-4 h-4" />
              </div>
            </a>
            <!-- ================ END PHONE NUMBER ================= -->
            {% if request.LANGUAGE_CODE == 'ar' %}
            <a href="/en{{ request.path|slice:'3:' }}" class="switchLang_1 ms-auto cursor-pointer uppercase text-surface-white">EN</a>
            {% else %}
            <a href="/ar{{ request.path|slice:'3:' }}" class="switchLang_1 ms-auto cursor-pointer uppercase text-surface-white">AR</a>
            {% endif %}

            <button id="menuBtn"
              class="text-white text-xl border border-[#dddddd48] rounded-[50%] w-10.25 h-10.25 flex items-center justify-center">
              ☰
            </button>
          </div>
          <!-- Desktop Right -->
          <div class="max-[1169px]:hidden flex items-center justify-center gap-4 w-full">
            <ul data-aos="fade-down"
              class="flex gap-8 text-surface-white text-[18px] font-normal ml-auto! justify-center items-center"
              dir="{% if request.LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">
              <li><a href="{% url 'index' %}" class="nav-link">{% trans "home" %}</a></li>
              <li><a href="{% url 'about' %}" class="nav-link">{% trans "about us" %}</a></li>
              <li><a href="{% url 'index' %}#services-section" class="nav-link">{% trans "services" %}</a></li>
              <li><a href="{% url 'certificates' %}" class="nav-link">{% trans "certificates" %}</a></li>
              <li><a href="{% url 'index' %}#contact" class="nav-link">{% trans "contact us" %}</a></li>
              {% if request.LANGUAGE_CODE == 'ar' %}
                <a href="/en{{ request.path|slice:'3:' }}" class="switchLang_1  ms-auto cursor-pointer uppercase">EN</a>
              {% else %}
                <a href="/ar{{ request.path|slice:'3:' }}" class="switchLang_1  ms-auto cursor-pointer uppercase">AR</a>
              {% endif %}
            </ul>

            <!-- ================ START PHONE NUMBER ================= -->
            <a data-aos="fade-left" href="tel:+{{ configurations.phone_number }}" class="flex items-center gap-4 ml-auto!">
              <div class="relative w-12 h-12">
                <span class="ripple absolute inset-0"></span>
                <div class="absolute inset-0 bg-crimson-red rounded-full flex items-center justify-center z-10">
                  <img src="{% static 'icons/phone.svg' %}" alt="Phone" class="w-6 h-6" />
                </div>
              </div>
              <span class="text-[18px] font-normal text-surface-white"><span dir="ltr">{{ configurations.phone_number }}</span></span>
            </a>
            <!-- ================ END PHONE NUMBER ================= -->
          </div>
        </div>
      </div>

      <!-- ONE Mobile Dropdown Menu -->
      <div id="mobileMenu"
        class="overflow-hidden max-h-0 opacity-0 transition-all duration-500 ease-in-out bg-gradient-dark">
        <ul class="flex flex-col items-end gap-6 py-4! text-surface-white text-[18px] font-normal pb-10! px-5!">
          <li><a href="{% url 'index' %}" class="nav-link">{% trans "home" %}</a></li>
          <li><a href="{% url 'about' %}" class="nav-link">{% trans "about us" %}</a></li>
          <li><a href="#services-section" class="nav-link">{% trans "services" %}</a></li>
          <li><a href="{% url 'certificates' %}" class="nav-link">{% trans "certificates" %}</a></li>
          <li><a href="#contact" class="nav-link">{% trans "contact us" %}</a></li>
        </ul>
      </div>
    </nav>
    <!-- ================== END NAVBAR ======================== -->

    <!-- ================ START HEADER PAGE =================== -->
    <header>
      <!-- =============== START HEADER PAGE ==================== -->
      <div class="header-page relative bg-cover bg-center bg-no-repeat pb-17! pt-25! md:pt-25! md:pb-30!"
        style="background-image: url('{% static 'images/banner-page.png' %}');">
        <div data-aos="fade-up" class="container-media">
          <h1 class="text-[30px] sm:text-[35px] md:text-[60px] font-bold text-white">
            {% trans "certificates" %}
          </h1>
          <div class="bread-crumb text-[16px] font-light text-gray-medium flex items-center gap-2">
            <a href="{% url 'index' %}" class="hover:text-crimson-red transition duration-200">{% trans "home" %}
            </a>
            /
            <p>{% trans "certificates" %}</p>
          </div>
        </div>
      </div>
      <!-- =============== END HEADER PAGE ==================== -->
    </header>
    <!-- ================ END HEADER PAGE =================== -->

    <main>
      <!-- ================ START SECTION CERTICATES ================== -->
      <section class="certifcates-section py-21.25! md:pt-30! md:pb-16!">
        <!-- =================== START CONTAINER ================= -->
        <div class="container-media">
          <!-- ============== START SECTION TILTE ================ -->
          <div class="section-title flex justify-center items-center text-center flex-col  mb-10!" data-aos="flip-down">
            <!-- ============ START HEADER TITLE =============== -->
            <div class="header-title flex items-center justify-center">
              <!--  START LINES RIGHT -->
              <div class="flex flex-col justify-center mr-2">
                <div class="w-10.5 h-0.5 bg-crimson-red"></div>
                <div class="w-6 h-0.5 bg-crimson-red mt-1.5!"></div>
              </div>
              <!--  END LINES RIGHT -->

              <!-- START TEXT CONTENT -->
              <h2 class="text-crimson-red text-[15px] md:text-[18px] font-normal px-4!">
                {% trans "certificates" %}
              </h2>
              <!-- END TEXT CONTENT -->
              <!--  START LINES LEFT -->
              <div class="flex flex-col justify-center ml-2">
                <div class="w-6 h-0.5 bg-crimson-red -mb-2.5!"></div>
                <div class="w-10.5 h-0.5 bg-crimson-red"></div>
              </div>
              <!--  END LINES LEFT -->
            </div>
            <!-- ============ END HEADER TITLE =============== -->
            <!-- =========== START INFO TITLE =============== -->
            <h2 class="info-title text-[24px] sm:text-[32px] lg:text-[44px] font-bold text-surface-dark">
              {% trans "Quality certificates and accreditations" %}
            </h2>
            <p
              class="text-[16px] sm:text-[20px] font-medium sm:font-light text-surface-dark w-full max-w-142.75 text-center leading-10!">
              {% if request.LANGUAGE_CODE == 'ar' %}
              {{ configurations.certificate_description_ar }}
              {% else %}
              {{ configurations.certificate_description }}
              {% endif %}
            </p>
            <!-- =========== END INFO TITLE =============== -->
          </div>
          <!-- ============== END SECTION TILTE ================ -->
          <!-- ============ START ALL CERTIFICATES ============= -->
          <div class="all-certificates" data-aos="flip-right">
            {% if configurations.certificate_image %}
            <img src="{{ configurations.certificate_image.url }}" alt="certificate" class="w-full h-auto object-cover"
              loading="lazy" />
            {% else %}
            <img src="{% static 'images/certificates/certificates.svg' %}" alt="certificate"
              class="w-full h-auto object-cover" loading="lazy" />
            {% endif %}
          </div>
          <!-- ============ END ALL CERTIFICATES ============= -->
        </div>
        <!-- =================== END CONTAINER ================= -->
      </section>
      <!-- ================ END SECTION CERTICATES ================== -->
    </main>
    <!-- ================= START FOOTER ================ -->
    <div class="mt-auto!" id="contact">

      <footer class="bg-main-gradient">
        <div class="container-media">
          <!-- ================= START MAIN FOOTER ================ -->
          <div class="main-footer flex justify-center items-center w-full flex-col gap-8 pt-13.5!" data-aos="fade-up">
            <!-- ============== START LOGO FOOTER ============= -->
            <a href="{% url 'index' %}" class="logo-footer">
              <img src="{% static 'images/logo-footer.svg' %}" alt="Quality Perfection Logo" class="logo-footer-img"
                loading="lazy" />
            </a>
            <!-- ============== END LOGO FOOTER ============= -->
            <!-- ============== START CONTACT INFO ============= -->
            <div class="flex items-center gap-y-5 gap-x-8! md:gap-x-10! flex-wrap text-surface-white py-1!">
              <a href="https://www.google.com/maps/search/?api=1&query={% if request.LANGUAGE_CODE == 'ar' %}{{ configurations.address_ar }}{% else %}{{ configurations.address }}{% endif %}"
                target="_blank" class="flex items-center gap-3.5 hover:text-crimson-red transition">
                <img src="{% static 'icons/location.svg' %}" alt="location" loading="lazy" class="w-6 h-6" />
                <span class="text-[14px] font-normal md:text-[18px]">
                  {% if request.LANGUAGE_CODE == 'ar' %}{{ configurations.address_ar }}{% else %}{{
                  configurations.address }}{% endif %}
                </span>
              </a>

              <a href="tel:{{ configurations.phone_number }}"
                class="flex items-center gap-3.5 hover:text-crimson-red transition">
                <img src="{% static 'icons/phone-solid.svg' %}" alt="phone" loading="lazy" class="w-6 h-6" />
                <span class="text-[14px] font-normal md:text-[18px]">
                  <span dir="ltr">{{ configurations.phone_number }}</span>
                </span>
              </a>

              <a href="mailto:{{ configurations.email }}"
                class="flex items-center gap-3.5 hover:text-crimson-red transition">
                <img src="{% static 'icons/email.svg' %}" alt="email" loading="lazy" class="w-6 h-6" />
                <span class="text-[14px] font-normal md:text-[18px]">
                  {{ configurations.email }}
                </span>
              </a>
            </div>
            <!-- ============== END CONTACT INFO ============= -->

            <!-- ================== START @ COPY ================ -->
            <div
              class="text-surface-white text-center py-8! border-t border-surface-white-10 w-full text-[14px] font-normal">
              {% trans "All rights reserved" %} © 2024
            </div>
            <!-- ================== END @ COPY ================ -->
          </div>
          <!-- ================= END MAIN FOOTER ================ -->
        </div>
      </footer>

    </div>
    <!-- ================= END FOOTER ================ -->
  </div>
</body>

</html>